.logo img {
	width: 100%;
	max-width: 100px;
}

.media img {
	width: 100%;
}

.featured-work img {
	width: 100%;
	max-width: 300px;
}

hr { 
    display: block;
    /* margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto; */
    border-width: 2px;
    border-color: #7D97AD;
    /* border-color: #2D3C49; */
} 

.text-cyan {
	color: #02B3E4;
}

a:link {
	color: #2D3C49;
}

a:visited {
	color: #2D3C49;
}

a:hover {
	color: #2D3C49;
} 
